.contenedor_encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    background-color: white;
    filter: drop-shadow(0px 5px 2px rgb(0, 0, 0, 0.2));
    margin: 0px 0px 50px 0px;
}

.contenedor_encabezado > img{
    min-height: 100px;
    height: 15vh;
}

.contenedor_encabezado > p{
    font-size: 30px;
}