.contenedor_barra_busqueda{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.contenedor_barra_busqueda > input{
    width: 60%;
    min-width: 300px;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}

.contenedor_barra_busqueda > input:focus{
    background-color: rgb(128, 128, 128, 0.2);
}

.contenedor_barra_busqueda > button{
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #1B8C6C;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.contenedor_barra_busqueda > button:hover{
    filter: drop-shadow(0px 5px 2px rgb(0, 0, 0, 0.5));
}
